.card {
  display: flex;
  max-width: 90vw;
  width: 90vw;
  border-radius: 1rem;

  background-color: var(--background-color-secondary-dark);
  box-shadow: rgba(255, 119, 167, 0.433) 1px 5px 10px 0px;

  transition: transform 0.3s;
}

.card:hover {
  transition: transform 0.3s;
  transform: scale(1.01);
}

.screenShot {
  width: 50%;
  height: auto;
  border-radius: 1rem 0 0 1rem;
}

.cardTextArea {
  width: 50%;
  padding: 1rem;
  white-space: pre-line;
}

.cardHeadline {
  margin: 0;
  padding: 0;
}

.cardText {
  margin: 0;
  padding: 0;
  width: 100%;
}

.linkContainer {
  display: flex;
  align-items: center;

}

@media screen and (max-width: 720px) {
  .card {
    flex-direction: column;
  }

  .screenShot {
    width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
  }

  .cardTextArea {
    width: 100%;
  }

  .cardText {
    width: 95%;
  }
}

@media (prefers-color-scheme: light) {
  .card {
    background-color: var(--background-color-secondary-light);
  }
}