.introBox {
  background-color: rgba(0, 0, 0, 0.758);
  color: white;
  margin: 4rem 0;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  display: flex;
  background-color: black;
  background-image: url("./assets/green.jpg");
  background-size: cover;
  min-width: 320px;
  max-width: 60%;
  min-height: 300px;

  margin: 0;
}


.icon:hover {
  transition: transform 0.3s;
  transform: scale(1.2);
}

.icon {
  transition: transform 0.3s;
  transform: scale(1);
}