.header {
  background-color: var(--attention-color);

  animation: pulse 5s ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    background-color: var(--attention-color);
  }

  to {
    background-color: var(--attention-color-light);
  }
}

h1 {
  font-size: 3rem;
  margin: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4rem;
  margin: 4rem;
}

.footer {
  background-color: var(--attention-color-light);
  height: 2rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}